<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<p th:text="${aaa}">你好</p>-->
<!--<form action="/login" method="post">-->

<!--    <input type="text" name="username" value=""><br>-->
<!--    <input type="password" name="password" value=""><br>-->
<!--    <input type="submit" name="submit">-->
<!--</form>-->



<p th:text="${restaurant.boss}">resturant boss</p>
<p th:text="${restaurant.chef}">resturant chef</p>

</body>
</html>